*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: block;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* margin: 5% 10% 5% 10%; */
  padding: 10px;
  /* height: auto;
  width: 800px; */
  border: 3px solid;
  margin: auto;
  width: 50%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

input{
  width: 60%;
  height: 40px;
  padding: 5px;
  margin: 2% 0 2% 0;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

#isFriendly, #cool, #rusty, #angel, #happy, #sad, #numb, #dumb{
  height: 20px;
  
}

h2{
  text-align: center;
  font-size: 30px;
}

textarea{
  margin: 2% auto;
  width: 60%;
  text-align: center;
  justify-content: center;
}

legend{
  letter-spacing: 3px;
  font-weight: 600;
}

fieldset{
  display: flex;
  flex-direction: column;
  height: auto;
  width:90%;
  margin-top: 4%;
  padding:30px; 
  border:3px solid #808cf8;
  background: #fafcff;
}

label{
    height: auto;
    margin: 2% auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select-label{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600px;
}

select{
  width: 60%;
  height: 30px;
  margin-bottom: 3%;
}

.fields {
  padding:30px; 
  border:3px solid #808cf8;
  background: #fafcff;
}

button{
  margin: 5% 0;
  background-color: #548fd1; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  }
  
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }